*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    background: linear-gradient(90deg, #3f3d3d, #413f3f);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 20px;
    height: 100%;
    display:flex;
    flex-direction: column;
}

.header,
.footer,
.sidebar,
.box{
    display: flex;
    color: #fff;
    font-weight: 600;
    align-items: center;
    padding: 30px;
    border-radius: 6px;
    border: 7px solid #111;
    justify-content: center;
    box-shadow: 0px 5px 15px #111111;
}

.header,
.footer{
    background: linear-gradient(90deg, #5142b1, #8a6be1);
    margin-bottom:20px;
}

.layout{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    margin-bottom: 20px;
    flex: 1;
    align-items: stretch;

}

.sidebar{
    background: linear-gradient(180deg, #2ec4b6, #3ddad7);
}

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.box{
    background: linear-gradient(120deg, #5f6ddf, #2aa7ff);
}

.content1{
    grid-column: 1/-1;
}

@media (max-width: 768px){
    .layout{
        grid-template-columns: 1fr;
    }

    .content-row{
        flex-direction: column;
    }
}