*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #ffffff;
    color: #111111;
    
}

.navbar{
    background: #ffffff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar nav a{
    margin-left: 15px;
    text-decoration: none;
    color:#111111;
    font-weight: 500;
}

.navbar nav a:hover{
    color: #af5c18;
}

.controls{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.controls input,
.controls select{
    padding: 8px;
    font-size: 14px;
}


.hero{
    text-align: center;
    padding: 300px 20px;
}

.hero h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.hero p{
    margin-bottom: 20px;
    font-size: 16px;
}

.btn{
    background: #af5c18;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
}

.btn:hover{
    opacity: 0.9;
}

.product-grid{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 20px;
    justify-content: center;
}

.card{
    background: #b0a49b;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.card:hover{
    transform: scale(0.95);
    background-color: #9b897c;
}

.card img{
    width:100%;
    height: 250px;
    object-fit: cover;
}

.card h3{
    font-size: 18px;
    margin: 10px 0;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .controls {
    width: 100%;
    flex-direction: column;
  }

  .controls input,
  .controls select {
    width: 100%;
  }
}